@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
:root {
  font-size: 16px;
  --dark001: #1a1b1c;
  --light001: #fafcfe;
  --blue01: #37BDE4;
  --red001: #ff5757;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background-color: var(--light001);
  height: 100%;
  font-family: 'Lato', sans-serif;
}

.hamburger {
  position: absolute;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  width: 50px;
  background-color: var(--dark001);
  border: none;
  top: 16px;
  left: 16px;
  z-index: 10;
}

.hamburger:focus, .hamburger:active {
  outline: 5px solid transparent;
}

.hamburger:before, .hamburger:after {
  content: "";
  height: 20px;
  border-left: 1px solid var(--light001);
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  margin: -3px;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.hamburger--active::after {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.hamburger--active::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.main-nav {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 40%;
  background-color: var(--dark001);
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;
  z-index: 5;
}

.main-nav--active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.main-nav a {
  font-family: 'Lato', sans-serif;
  font-size: 2.4rem;
  padding: 12px 0;
  margin: 16px;
  color: var(--light001);
  text-decoration: none;
  border-bottom: 3px solid transparent;
  -webkit-transition: border-bottom 0.3s ease;
  transition: border-bottom 0.3s ease;
}

.main-nav a:hover {
  border-bottom: 3px solid var(--blue01);
}

.home {
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.home__info {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px;
}

.home__header {
  max-width: 356px;
  margin: 82px 0 16px 0;
}

.home__title {
  font-family: 'Lato', sans-serif;
  font-size: 4.125rem;
  color: var(--dark001);
  line-height: 105%;
  margin-bottom: 56px;
}

.home__spacer {
  display: inline-block;
  height: 1px;
  width: 10rem;
  background-color: var(--dark001);
  margin-bottom: 48px;
}

.home__subtext {
  font-family: Open Sans, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: var(--dark001);
  line-height: 165%;
  margin-bottom: 4.8rem;
}

.home__cta {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-family: Open Sans, sans-serif;
  font-weight: 700;
  font-size: 0.8rem;
  color: var(--light001);
  background-color: var(--dark001);
  border-radius: 50px;
  border: 2px solid var(--dark001);
  padding: 16px 48px;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

.home__cta:hover {
  background-color: var(--light001);
  color: var(--dark001);
}

.home__cards {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  padding: 8px;
  background: #000;
}

.group-one {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / span 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.group-one .home__card--square {
  cursor: pointer;
  background-image: url("../images/img-01.jpg");
}

.group-one .home__card--large {
  cursor: pointer;
  background-image: url("../images/img-04.jpg");
}

.group-two {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / span 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.group-two .home__card--square {
  cursor: pointer;
  background-image: url("../images/img-02.jpg");
}

.group-two .home__card--large {
  cursor: pointer;
  background-image: url("../images/img-03.jpg");
}

.home__card {
  margin: 8px;
  padding: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background-color: var(--dark001);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home__card img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.3);
}

.home__card a {
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  color: var(--light001);
  text-decoration: none;
}

.home__card--square {
  height: 0;
  padding-top: calc(100% - 32px);
}

.home__card--large {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
}

@media screen and (max-width: 1300px), screen and (max-height: 800px) {
  .main-nav {
    width: 100%;
  }
  .home__info,
  .home__cards {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / span 2;
  }
  .home__card--large {
    height: 0;
    padding-top: calc(100% - 32px);
  }
}

@media screen and (max-width: 600px) {
  .group-one,
  .group-two {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / span 2;
  }
}
/*# sourceMappingURL=main.css.map */